@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* resetter margin, patting osv.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
:root {
  --ff-primary:'Poppins', sans-serif;

  --fs-h1: 45px;
  --fs-h2: 25px;
  --fs-h3: 75px;
  --fs-h4: 40px;
  --fs-body: 16px;

  --main-color:#65A765;
  --light-color:#fff;
  --text-color:#545454;
  --hover-color:#467346;

}
  /* Mobile Font size */
@media (max-width: 800px) {
  :root{
    --fs-h1: 35px;
    --fs-h2: 15px;
    --fs-h3: 50px;
    --fs-h4: 20px;
    --fs-body: 10px;
  }
}
body{
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

h1{
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
}
h2{
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
}

/* global styling */

.max-width{
    max-width: 1500px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
/*.navbar{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    background: white;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
}


.navbar .menu li{
    list-style: none;
}
.menu{
  display: flex;
  align-items: center;
}
.navbar .menu li a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    color: var(--text-color);
}*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 20px;
    font-family: 'Poppins', sans-serif;
      font-size: 16px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}
.navbar .menu li a:hover{
  color: var(--main-color);
}

.menu-btn:hover{
    color: var(--main-color);
}

.menu-btn {
  color: black;
}

.menuknap {
border-radius: 18px;
background-color: var(--main-color);
border: none;
color: white;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.menuknap:hover{
    background-color: var(--hover-color);
}

/* Responsiv Navigation */
.toggle-button{
  position: absolute;
  top: 1rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 999;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 10px;
}

@media (max-width: 700px){
.toggle-button{
  display: flex;
}

.navbar-links{
 display: none;
width: 100%;
}
.navbar {
  flex-direction: column;
  align-items: flex-start;
}
.navbar-links ul {
  width: 100%;
  flex-direction: column;
}

.navbar-links li {
  text-align: center;
}
.navbar-links.active{
  display: flex;
}
}

/* hjem section styling */
.hjem{
    display: flex;
    background: url("hero.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
.hjem .max-width{
    margin: auto 0 auto 30px;
}

.hjem .hjem-indhold .text-2{
    font-size: var(--fs-h3);
    font-weight: 600;
    margin-left: -3px;
}
.hjem .hjem-indhold .text-3{
  font-size: var(--fs-h4);
    margin: 5px 0;
}



/*textvideo start*/


video {
  width: 80%;
  height: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.grid-item {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  font-size: 18px;
  text-align: left;
  padding-left: 10vw;
}

.grid-itemvideo {
  text-align: center;

}

.vidtextcontainer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
}
@media (max-width: 1045px){
.grid-container{
  grid-template-columns: 1fr;
}
}
/*blogforside start*/
.forsideblog {
  padding-top: 100px;
  padding-bottom: 150px;
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
  font-family: 'Poppins', sans-serif;
}

.mest_nylige_opslag {
  margin-top: 100px;
  font-size: 20px;
}
.se_alle_opslag {
  text-align: right;
  padding-right: 220px;
  color: green;
  cursor: pointer;
  margin-top: 100px;
}

hr.new4 {
  border: 1px solid grey;
  width: 1000px;
  margin: auto;
}

.grid-container2 {
  display: grid;
  padding: 10px;
  justify-content: center;
}
.grid-item2 {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  width: 350px;
  height: 375px;
}

.container6 {
    text-align: left;
}

.container6 p {
    font-size: 15px;
}

.blogsektiontekst {
  text-align: center;
}

@media (min-width: 1045px){
.grid-container2{
  grid-template-columns: auto auto auto;
}
}
.blogsektiontekst{
  width: 1000px;
  align-items: center;
  margin: auto;
}
@media (max-width: 1045px){
  hr.new4 {
   width: 350px;
    margin: auto;
  }
  .blogsektiontekst{
    width: 350px;


  }
}

/*logoer forside start*/

.logoerforsideoverskrift {
  text-align: center;
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  padding-top: 100px;
}

.grid-item3 {
  padding: 20px;
}

.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto ;
  justify-content: center;
  padding-bottom: 50px;
}

.grid-item4 {
  padding: 20px;
}



.logoerforsidekundeudsagnperson {
  font-size: 12px;
}

.udsagn-section{
  margin-bottom: 40px;
}
.grid-item3 img {
  width: 150px;
  height: 150px;
}
.grid-item4 img {
  width: 150px;
  height: 150px;
}

@media (max-width: 760px){
  .grid-item3 img {
    width: 100px;
    height: 100px;
  }
  .grid-item4 img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 600px){
  .grid-item3 img {
    width: 50px;
    height: 50px;
  }
  .grid-item4 img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 410px){
  .grid-item3 img {
    width: 30px;
    height: 30px;
  }
  .grid-item4 img {
    width: 30px;
    height: 30px;
  }
}
/* heading på pages */

.hero-om-os,
.hero-ydelser {
  padding-top: 100px;
}


.head{
  padding-top: 86px;
    display: flex;
    background: url("hero.jpg") no-repeat center;
    height: 25vh;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    width: 100%;
}
.head .max-width{
    text-align: center;
}

.head .head-indhold .title{
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
}

/* blog posts */
.main-content, .sidebar{
  padding: 20px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: auto 0 auto auto;
}

.main-content1, .sidebar1{
  padding: 20px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: auto auto auto 0;
}

.sidebar img{
  width: 100%;
}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.blog-text{
  padding-right: 17vw;
  padding-left: 17vw;
}

.blog-text ul {
  padding-left: 1.2vw;
}


/*blogpost page */
.myimgcontainer2{
  width: 450px;
  height: 850px;
}
.myimg2{
  width: 100%;
  height: 750px;
  object-fit: cover;
}
.blogpostff{
  padding-top: 86px;
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
}



.myimgcontainer{
  width: 450px;
  height: 450px;
}

.myimg{
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/*fonts */
h2{
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
}

.blogpostf{
  background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
  padding-top: 100px;
  padding-bottom: 50px;
}


.blogpostff{
  padding-top: 100px;
}
/* */
/*kontakt side*/
/* Input Style */

.form{
  width: 100%;
  padding: 15px;
  background:#fff;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: #f8f8d8;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
    border-radius: 5px;
  }


/* Send Knap */

  .form-btn{
    width:170px;
    display: block;
    padding:15px;
    color:#fff;
    background:var(--main-color);
    border:none;
    border-radius:30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    font-family: var(-ff-primary);
  }

  .form-btn:hover{
    background:#467346;
  }

.tekstintro{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

@media screen and (max-width: 992px) {
  .grid-parent {
    grid-template-columns: 1fr;
  }
  .main-content, .sidebar, .main-content1, .sidebar1{
    margin:auto;
  }
  .myimgcontainer{
    width: 250px;
    height: 250px;
  }

  .myimg{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
